/* *{
    margin: 0;
    padding: 0%;
} */
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
}

.half-width img {
    width: 100%;
}
.welcome{
    font-size: 50px;
}
.name{
    color: yellow;
}
.introduction{
  word-wrap: break-word;
}